server:
  port: 9999

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
        - id: post-service
          uri: lb://POST-SERVICE
          predicates:
            - Path=/posts/**
        - id: ui-interaction-service
          uri: lb://UI-INTERACTION-SERVICE
          predicates:
            - Path=/ui/**
  config:
    import:
      - optional:configserver:http://localhost:8888


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
