server:
  port: 9999

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - name: Path
              args:
                pattern: /user/**

        - id: post-service
          uri: lb://POST-SERVICE
          predicates:
            - name: Path
              args:
                pattern: /posts/**
        - id: ui-interaction-service
          uri: lb://UI-INTERACTION-SERVICE
          predicates:
            - name: Path
              args:
                pattern: /ui/**

  config:
    import:
    - optional:configserver:http://localhost:8888